*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* .......nav........ */
.nav{
    /* border: 1px solid red; */
    height: 42px;
    background-color: #5b0b0b;
}

/* ........nav logo....... */
.nav_logo {
    width: 75px;
    height: 25px;
    margin-left: 7px;
}
.nav_logo_img{
    width: 65px;
    height:20px;
}

/* ..........nav location.......... */

.nav_location{
    width: 100px;
    height: 30px;
}
.location_logo{
    margin-top: 6px;
    margin-right: 5px;
    font-size: 12px;
}
.country_selection{
    height: 17px;
    font-size: .70rem;
    border: none;
    background-color: #babfbd;
    border-radius: 3px;
}
.nav_location h5{
   font-size: .55rem;
}

/* ........nav search.......... */

.nav_search{
    width: 65%;
    height: 28px;
    margin-left: 10px;
}
.nav_search:hover{
    box-shadow: none;
}

.search_type{
    width: 12%;
    font-size: .60rem;
}
.nav_search_bar{
    height: 100%;
    width: 76%;
}
.nav_search_bar_details{
    font-size: .60rem;
}
.nav_search_logo{
    width: 12%;
    font-size: .70rem;
}

/* ...........nav sign......... */

.nav_sign{
    height: 30px;
    margin-left: 15px;
    width: 110px;
}
.nav_sign a{
    text-decoration: none;
    color: white;
}
.nav_sign h5{
    font-size: 0.55rem;
    font-weight: lighter;
}
.nav_sign h1{
    font-size: .60rem;
}

/* .............nav returns............ */
.nav_returns{
    height: 30px;
    width: 75px;
}
.nav_returns h5{
    font-size: 0.55rem;
    font-weight: lighter;
    margin-left: -3px;
}
.nav_returns h1{
    font-size: .60rem;
    font-weight: 600;
}

/* .........nav cart......... */

.nav_cart{
    height: 30px;
    width: 76px;
    margin-right: 10px;
}
.nav_cart_logo{
    font-size: 15px;
}
.nav_cart p{
    font-size: .60rem;
    margin-top: 0px;
}

/* .........nav details.......... */

.nav_details{
    /* border: 1px solid red; */
    width: 100%;
    height: 30px;
    background-color:#983434 ;
}
.nav_links{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav_links li{
    margin: 10px 20px;
    line-height: 10px;
}
.nav_links li a{
    padding: 0px;
    margin-left: 0px;
    font-size: .50rem;
    padding: 0px 0px;
}
.menue i{
    font-size: .55rem;
}
.menue p{
    font-size: .55rem;
}

.border1:hover{
    color: none;
    text-shadow: none;
    transition: none;
}
.nav_details p1{
    font-size: .60rem;
    font-weight: 600;
    margin-left: 0px;
    margin-right: 10px;
    height: 22px;
    width: 30%;
}

/* ..........hero_section......... */
 
/* hero background image */

.hero_section_background{
    width: 95%;
    height: 270px;
}

/* hero text */
.hero_section p{
    font-size: .65rem;
    height: 25px;
    padding-left: 13px;
}
.hero_section p a{
    color: #823030;
    font-size: .55rem;
}

/* ..........shop.......... */

/* ............first row......... */

.box{
    width: 29%;
    height: 290px;
    margin: 20px 6px;
    padding: 0px;
    background-color: white;
}
.box h2{
    font-size: .60rem;
    color: rgb(50, 50, 50);
    margin-top: 10px;
    margin-left: 10px;
}
.box_image_1{
    width: 90%;
    height: 80%;
    margin-left: 11px;
    margin-top: 10px;
}

.box p{
    font-size: .55rem;
    color:#823030 ;
    padding: 2px;
    margin-top: 7px;
    margin-left: 8px;
}

/* ...........second row............ */

.box_image_2{
    width: 90%;
    height: 80%;
    margin-left: 11px;
    margin-top: 10px;
}
.box4_1{
    height: 25%;
    width: 34%;
    margin: 10px 15px;
}

.box4_1 p{
    margin: 0px;
    font-size: .50rem;
}
.box4_1 p:hover{
    text-decoration: none;
}

/* ........footer....... */

/* footer sign */

.footer_sign{
    border: 0.5px solid #e4e4e4;
    border-radius: 5px;
    width: 100%;
    height: 90px;
    text-align: center;
    margin: 13px 0px;
}
.footer_sign p1{
    display: block;
    margin-top: 30px;
    font-size: .65rem;
    color: #282828;
}
.footer_sign button{
    display: block;
    margin-top: 7px;
    height: 20px;
    width: 70px;
    margin-left: 342px;
    border-radius: 3px;
    font-size: .55rem;
}
.footer_sign p2{
    margin-top: 5px;
    display: block;
    font-size: .55rem;
    color: #575757 ;
}
.footer_sign p2 a{
    color: #be4b21;
}
.footer_sign p2 a:hover{
    color: #126f3d;
}

/* back to top section */

.back_to_top{
    height: 29px;;
}
.back_to_top p{
    font-size: .65rem;
}

/* footer link */
.footer_link{
    height: 285px;
}
.footer_link_part{
    height: 220px;
    width: 120px;
    margin: 0px 17px;
}
.footer_link_part h2{
    font-size: .70rem;
    margin-bottom: 10px;
}
.footer_link_part p{
    font-size: .60rem;
    line-height: 19px;
    margin-left: 0px;
}

/* ......footer logo...... */
.footer_logo{
    height: 43px;
}
.footer_logo img{
    width: 47px;
}

/* .......copy right...... */
.copy_right{
    /* border: 1px solid red; */
    height: 450px;
    width: 100%;
    background-color: #171f1b ;
}

/* copy right top */
.copy_right_top{
    height: 370px;
}
.copy_right_deals{
    height: 350px;
    width: 90%;
}
.copy_right_links{
    height: 40px;
    width: 100px;
    margin: 4px 19px;
}
.copy_right_links h6{
    font-size: .55rem;
}
.copy_right_links p{
    font-size: .50rem;
}
.copy_right_links h6:hover{
    text-decoration: none;
}
.copy_right_links p:hover{
    text-decoration: none;
}

/* copy right bottom */
.copy_right_bottom{
    /* border: 1px solid red; */
    height: 80px;
    width: 100%;
    color: white;
}
.copy_right_bottom_conditions h6{
    /* border: 1px solid red; */
    display: inline-block;
    margin: 15px 5px 0px 10px;
    font-size: .55rem;
}
.copy_right_bottom_conditions h6:hover{
    text-decoration: none;
}
.copy_right_details{
    font-size: .50rem;
    margin-top: 6px;
}








/* ...........finish.......... */