*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}
.sign_form{
    height: 570px;
    width: 900px;
    margin: 70px 10px 10px 10px;
    border-radius: 10px;
    background-color: #fffdf0;
    box-shadow: 5px 5px 15px;
}
.button{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15%;
    width: 100%;
    border-bottom: 0.5px solid #c4c4c4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
button{
    margin: 10px;
    width: 70px;
    height: 25px;
    background-color: #abaaaa;
    color: #474747;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: .75rem;
}
.sign_in_form{
    /* border: 1px solid red; */
    height: 70%;
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.sign_in_form label{
    margin: 20px 0px;
}
.sign_in_form label input{
    height: 22px;
}
.form_link{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 10%;
}
.form_link a{
    color: black;
    text-decoration: none;
    font-size: .80rem;
}
.sign_in_back{
    padding: 5px;
    margin-right: 20px;
    color: black;
    font-size: .75rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}