*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(237, 237, 237); */
    /* text-align: center; */
}
/* .......nav........ */
.nav{
    /* border: 1px solid red; */
    height: 60px;
    background-color: #145d36;
    display: flex;
    justify-content: center;
    align-items: center; 
    cursor: pointer;
}
.border:hover{
    border: 1px solid white;
    border-radius: 3px;
}
/* ........nav logo....... */
.nav_logo {
    width: 100px;
    height: 35px;
    margin-left: 7px;
}
.nav_logo_img{
    background-image:url(./images/amazon_logo-removebg-preview.png);
    width: 100px;
    height:30px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* ..........nav location.......... */

.nav_location{
    /* border: 1px solid red; */
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 20px;
}
.location_logo{
    /* border: 1px solid red; */
    margin-top: 9px;
    margin-right: 5px;
    font-size: 16px;
}
.nav_location h5{
   font-size: .75rem;
}
.country_selection{
    height: 17px;
    font-size: .70rem;
    border: none;
    background-color: #ececec;
    border-radius: 3px;
}

/* ........nav search.......... */

.nav_search{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 40px;
    margin-left: 20px;
}
.nav_search:hover{
    box-shadow: 2px 2px 5px black;
}

.search_type{
    /* border: 1px solid red; */
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(133, 132, 132);
    border-top-left-radius:3px ;
    border-bottom-left-radius:3px ;
    background-color: rgb(236, 234, 234);
}
.nav_search_bar{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}
.nav_search_bar_details{
    height: 100%;
    width: 100%;
    text-transform: capitalize;
    font-size: .55rem;
    letter-spacing: 1px;
    font-weight:400;
    border-style: none;
}
.nav_search_logo{
    /* border: 1px solid red; */
    border-style: none;
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(72, 72, 71);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: 900;
    background-color: rgb(247, 202, 80);
}

/* ...........nav sign......... */

.nav_sign{
    /* border: 1px solid red; */
    height: 40px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 15px;
}
.nav_sign a{
    text-decoration: none;
    color: white;
}
.nav_sign h5{
    font-size: 0.75rem;
    font-weight: lighter;
    margin-left: 0px;
}
.nav_sign h1{
    font-size: .85rem;
    font-weight: 600;
}

/* .............nav returns............ */
.nav_returns{
    
    /* border: 1px solid red; */
    height: 40px;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 15px;
}
.nav_returns h5{
    font-size: 0.75rem;
    font-weight: lighter;
    margin-left: -10px;
}
.nav_returns h1{
    font-size: .85rem;
    font-weight: 600;
}

/* .........nav cart......... */

.nav_cart{
    /* border: 1px solid red; */
    height: 40px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.nav_cart_logo{
    /* border: 1px solid red; */
    font-size: 30px;
    color: white;
}
.nav_cart p{
    /* border: 1px solid red; */
    font-size: .85rem;
    text-transform: capitalize;
    font-weight: 900;
    color: white;
    margin-left: 5px;
    margin-top: 15px;
}

/* .........nav details.......... */

.nav_details{
    /* border: 1px solid red; */
    width: 100%;
    height: 40px;
    background-color:#287c4f ;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    box-sizing: border-box;
}
.nav_links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    width: 80%;
}
.nav_links li{
    /* border: 1px solid red; */
    list-style-type: none;
    height: 100%;
}
.nav_links li a{
    /* border: 1px solid red; */
    height: 100%;
    text-decoration: none;
    color: white;
    text-transform:capitalize;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: .75rem;
    font-weight: 600;
    /* display: block; */
    padding: 10px 5px;
    
}
.menue{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.menue i{
    font-size: 1rem;
    /* padding-right: 5px; */
    margin-right: 5px;
}
.menue p{
    font-size: .80rem;
    font-weight: 900;
}

.border1:hover{
    color: #e8eae8;
    text-shadow: 1px 1px 2px black;
    transition: 0.3s;
}
.nav_details p1{
    /* border: 1px solid red; */
    color: white;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: 1px;
    height: 30px;
    width: 20% ;
    /* text-align: center;
    align-items: center; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    padding-right: 15px;
}

/* ..........hero_section......... */
 
/* hero background image  */
.hero_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecededef;
}
.hero_section_background{
    background-image: url(./images/background_1.jpg);
    width: 95%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    cursor: pointer;
}

/* hero section text   */
           
.hero_section p{
    font-size: .85rem;
    background-color: white;
    height: 35px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}
.hero_section p a{
    text-decoration: none;
    color: #126f3d;
    font-size: .85rem;
    font-weight: 600;
    margin-left: 10px;
}

/* ..........shop........... */

.shop{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ecededef;
}

/* ............first row......... */

.box{
    /* border: 1px solid red; */
    width: 23%;
    height: 500px;
    margin: 20px 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
.box h2{
    font-size: 1.25rem;
    color: rgb(50, 50, 50);
    margin-top: 20px;
    margin-left: 18px;
    cursor: pointer;
}
.box_image_1{
    /* border: 1px solid red; */
    width: 90%;
    height: 80%;
    margin-left: 20px;
    margin-top: 10px;
   
}
.box1{
    /* border: 1px solid blue; */
    height: 100%;
    width: 100%;
    background-image: url(./images/box1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box2{
    /* border: 1px solid blue; */
    height: 100%;
    width: 100%;
    background-image: url(./images/box2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box3{
    /* border: 1px solid blue; */
    height: 100%;
    width: 100%;
    background-image: url(./images/box3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box4{
    /* border: 1px solid blue; */
    height: 100%;
    width: 100%;
    background-image: url(./images/box4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box p{
    font-size: .85rem;
    color:#126f3d ;
    padding: 5px;
    margin-top: 10px;
    margin-left: 13px;
    cursor: pointer;
}

.box p:hover{
    text-decoration: underline;
}

/* ...........second row............ */

.box_image_2{
    /* border: 1px solid red; */
    width: 90%;
    height: 80%;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box4_1{
    height: 40%;
    width: 40%;
    /* border: 1px solid red; */
    margin: 15px;
}
.box4_1_1{
    background-image: url(./images/box4_1_1.jpg);
    height: 80%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.box4_1_2{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_2.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1_3{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_3.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1_4{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_4.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1_5{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_5.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1_6{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_6.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1_7{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_7.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1_8{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_8.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1_9{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_9.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1_10{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_10.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1_11{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_11.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1_12{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_12.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1_13{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_13.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1_14{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_14.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1_15{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_15.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1_16{
    height: 80%;
    width: 100%;
    background-image:url(./images/box4_1_16.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.box4_1 p{
    color: black;
    margin: 10px;
    font-size: .75rem;
    cursor: pointer;
}
.box4_1 p:hover{
    text-decoration: none;
}

/* ........footer....... */

/* footer sign */

.footer_sign{
    border: 0.5px solid #e4e4e4;
    border-radius: 5px;
    width: 100%;
    height: 190px;
    text-align: center;
    margin: 25px 0px;
}
.footer_sign p1{
    display: block;
    margin-top: 60px;
    font-size: .90rem;
    color: #282828;
}
.footer_button{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_sign .footer_button button{
    display: block;
    margin-top: 9px;
    height: 29px;
    width: 242px;
    margin-left: 0px;
    background-color:  #f8bd25;
    border:.5px solid #dc9f03;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.footer_sign p2{
    margin-top: 10px;
    display: block;
    font-size: .80rem;
    color: #575757 ;
}
.footer_sign p2 a{
    margin-left: 3px;
    text-decoration: none;
    color: #126f3d;
}
.footer_sign p2 a:hover{
    color: #be4b21;
}

/* back to top section */

.back_to_top{
    /* border: 1px solid red; */
    height: 58px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #384941;
    cursor: pointer;
}
.back_to_top p{
    font-size: .75rem;
    color: white;
    font-weight: 600;
}
.back_to_top:hover{
    background-color: #4d5e56;
}

/* footer link */
.footer_link{
    /* border: 1px solid red; */
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#242e29 ;
    border-bottom: 0.5px solid rgb(106, 106, 106);
}
.footer_link_part{
    /* border: 1px solid red; */
    height: 300px;
    width: 250px;
    margin: 0px 17px 30px 17px;
    color: white;
    cursor: pointer;
}
.footer_link_part h2{
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: 600;
}
.footer_link_part p{
    font-size: .85rem;
    line-height: 25px;
    margin-left: 3px;
    color: rgb(218, 216, 216);
    font-weight: 600;
}
.footer_link_part p:hover{
    text-decoration: underline;
}

/* ......footer logo...... */
.footer_logo{
    background-color: #242e29;
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_logo img{
    width: 67px;
    cursor: pointer;
}

/* .......copy right...... */
.copy_right{
    /* border: 1px solid red; */
    height: 530px;
    width: 100%;
    background-color: #171f1b ;
}

/* copy right top */
.copy_right_top{
    /* border: 1px solid red; */
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.copy_right_deals{
    /* border: 1px solid red; */
    height: 450px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.copy_right_links{
    /* border: 1px solid red; */
    height: 80px;
    width: 100px;
    margin: 4px 30px;
    cursor: pointer;
}
.copy_right_links h6{
    font-size: .75rem;
    font-weight: 600;
    color: white;
}
.copy_right_links p{
    font-size: .75rem;
    color: rgb(189, 189, 189);
}
.copy_right_links h6:hover{
    text-decoration: underline;
}
.copy_right_links p:hover{
    text-decoration: underline;
}

/* copy right bottom */
.copy_right_bottom{
    /* border: 1px solid red; */
    height: 80px;
    width: 100%;
    color: white;
}
.copy_right_bottom_conditions{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy_right_bottom_conditions h6{
    /* border: 1px solid red; */
    display: inline-block;
    margin: 15px 5px 0px 10px;
    font-size: .75rem;
    font-weight: 400;
    cursor: pointer;
}
.copy_right_bottom_conditions h6:hover{
    text-decoration: underline;
}
.copy_right_details{
    font-size: .75rem;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}